extends layout

block content
  h2 #{poll.text}
  br
  - each choice in poll.choices
    .row
      .col-sm-5
        td #{choice.text}
      .col-sm-5
        .progress
          .progress-bar(role='progressbar', aria-valuenow='#{str(choice.votes)}', aria-valuemin='0', aria-valuemax='#{str(poll.total_votes)}', style='width: #{str(choice.votes_percentage)}%;') #{choice.votes}
  br
  a.btn.btn-primary(href='/poll/#{poll.key}') Vote again?
